// Colors
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGRay: hsl(0, 0%, 98%);

// Font sizes
$font-sm: 0.75rem; //12px
$font-md: 1rem; //16px
$font-lg: 1.125rem; //18px
$font-xlg: 1.25rem; // 20px
$font-xxlg: 4.3125rem;

// Font families
$body-font: 'Karla', sans-serif;
$headings-font: 'DM Serif Display', serif;